input {
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  width: 100%;
  /* margin: 10px 0px 10px 10px; */
}

.signup-header,
.login-header,
.home-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.signup-description,
.login-description {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.signup-container,
.login-container,
.home-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.signup-form,
.login-form,
.new-task-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

.signup-button,
.login-button,
.log-task-button {
  background-color: #0477bf;
  color: white;
  border: 1px solid #0a141f;
  padding: 0.5rem;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  cursor: pointer;
  width: 8rem;
  max-width: 400px;
  margin: auto;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.6rem !important;
  margin: auto;
}

.signup-footer {
  text-align: center;
  margin-top: 1rem;
}
